html, body {
  margin: 0;
  padding: 0;
}

.menu  {
  background-color: #333333;
   height:80px;
  
  
}


.menuesquerda ul li{
  padding: 18px;
  display: inline-block;
  float: left;
   }



.redes-sociais ul li {
margin-left: 15px;
display: inline-block;
float: right;

}



body {
  background-color: #b1f7c6;
  
}




main2 {
float: right;
margin-right: 20px;
position: relative;
}

#main {
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header_title img {
  padding 500px;
  width:100%;
  max-width:1900px;
}

#grid {
  display:flex;
  max-width: 1650px;
  flex-wrap: wrap;
  margin: 0 auto;

}
.grid_item {
  display:flex;
  flex: 1;
  padding: 10px;
  justify-content: center;
}
.grid_item img {
  flex:1;
}


@media screen and (max-width:414px) {
  .grid_item {
    padding:2px 5px 2px 5px;
  }
}
