html, body {
  margin: 0;
  padding: 0;
}

.grid_item a {
  cursor: url("../img/cursor.png"), auto;
}

body {
  background-color: #ffffff; 
  cursor: url("../img/cursor2.png"), auto; 
  }

#header_title img {
  width:100%;
  max-width:1900px;
}
#header_title_mobile {
  display: none;
}
#grid {
  width: 100%;
  display:flex;
  max-width: 1650px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  
}
.grid_item {
  width: 100%;
  max-width:48.6%;
  padding:2px 5px 2px 5px;
  }

  .grid_item img {
  flex:1;
  width:100%;
}


.barra-menu ul li {
  margin-left: 15px;
  position: relative;
  display: inline-block;
   }


/* A partir daqui para baixo, ficam as confs mobile */
@media screen and (max-width:900px) {
  /* Ela adiciona uma margem entre os jobs no mobile */
  .grid_item {
    padding:2px 5px 2px 5px;
    max-width:414px;
  }

  #header_title_mobile {
    width:100%;
    max-width:414px;
    display:inherit; 
  }
  #header_title_mobile img {
    width:100%;
  }
  footer{
       bottom: 0px;
       display: flex;
  }