html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;    }

#header_title img {
  width:100%;
  max-width:1900px;
}
#header_title_mobile {
  display: none;
}
#grid {
  width: 100%;
  display:flex;
  max-width: 1650px;
  flex-wrap: wrap;
  margin: 0 auto;
  
}
.grid_item {
  width: 100%;
  display:flex;
  flex: 1;
  padding: 10px;
  justify-content: center;
  }

  .grid_item img {
  flex:1;
}


.barra-menu ul li {
  margin-left: 15px;
  position: relative;
  display: inline-block;
   }


/* A partir daqui para baixo, ficam as confs mobile */
@media screen and (max-width:900px) {
  /* Ela adiciona uma margem entre os jobs no mobile */
  .grid_item {
    padding:2px 5px 2px 5px;
    max-width:414px
    display:inherit;
  }
  #header_title_mobile {
    width:100%;
    display:inherit;
  }

  #header_title {display:none};
  
  footer{
       bottom: 0px;
       display: flex;
  }